<body>
    <h1>
        Hey! It's a <% if (weekend) { %>
            weekend, it's time to have fun!
            <% } else { %>
                weekday, it's time to work hard!
                <% } %>
    </h1>
</body>